[user]
  name = Ruben Tsirunyan
  email = rubentsirunyan@gmail.com
[core]
  fileMode = false
	editor = vim
	autocrlf = false
[push]
	default = current
[credentials]
  helper = store
#[includeIf "gitdir:~/Documents/<project>/"]
#  path = .gitconfig-<project>
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
