;; edn spec https://github.com/edn-format/edn
;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | right_control
;; E  | right_option
;; R  | right_shift
;; P  | caps_lock
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; examples

;; !CTSequal_sign  | mandatory command control shift =
;;                 | which is command control +
;; !O#Sright_arrow | mandatory option optional any right_arrow

;; karabiner definition of mandatory and optional
;; https://karabiner-elements.pqrs.org/docs/json/complex-modifications-manipulator-definition/from/modifiers/

{
  :profiles {
    :Default {
      :default true ;; "default true means" rules default goes into this rule if no profiles specified
      ;; simultaneous key press threshold
      ;; simlayer is implemented with to_if_alone and simultaneous key press feature
      :sim     48
      ;; to_delayed_action_delay_milliseconds
      ;; checkout karabiner's documentation
      ;; https://pqrs.org/osx/karabiner/json.html
      ;; basically it means time after which the key press is count delayed
      :delay   500
      ;; https://pqrs.org/osx/karabiner/json.html#to-if-alone
      ;; to_if_alone_timeout_milliseconds
      ;; affects to_if_alone behavior
      ;; simlayer is implemented with to_if_alone and simultaneous key press feature
      :alone   1000
      ;; to_if_held_down_threshold_milliseconds
      ;; check the doc, I don't know what does this mean.
      ;; maybe press this many milliseconds counts a "held" ?
      :held    500
    }
  }

  :applications {
    :terminals [
      "^com\\.apple\\.Terminal$",
      "^com\\.googlecode\\.iterm2$",
      "^co\\.zeit\\.hyperterm$",
      "^co\\.zeit\\.hyper$",
      "^io\\.alacritty$",
      "^net\\.kovidgoyal\\.kitty$",
    ]
  }

  :tos {
    :lazy-left-control {
      :key :left_control
      :lazy true
    }
    :lazy-hyper {
      :key :!CTOleft_shift
      :lazy true
    }
  }

  :simlayers {
    ;; space + key (pressed within :sim ms) = ctrl+alt+cmd + key
    :super-space {
      :key :spacebar
    }
    ; :space-layer {
    ;   :key :spacebar
    ;   :modi {
    ;     :mandatory [
    ;       :left_control
    ;       :left_shift
    ;       :left_option
    ;       :left_command
    ;     ]
    ;   }
    ; }
  }
  :main [
    {:des "Space super layer: space+key chords to ctrl+alt+cmd+key (trial, tab mapping kept as fallback)"
     :rules [
      ;; ## (optional any) lets held shift pass through, so space+shift+key
      ;; produces the ctrl+alt+cmd+shift move/mode variants with one rule per key
      [:##h :!CTOh :super-space]
      [:##j :!CTOj :super-space]
      [:##k :!CTOk :super-space]
      [:##l :!CTOl :super-space]
      [:##t :!CTOt :super-space]
      [:##s :!CTOs :super-space]
      [:##z :!CTOz :super-space]
      [:##r :!CTOr :super-space]
      [:##d :!CTOd :super-space]
      [:##m :!CTOm :super-space]
      [:##c :!CTOc :super-space]
      [:##e :!CTOe :super-space]
      [:##1 :!CTO1 :super-space]
      [:##2 :!CTO2 :super-space]
      [:##3 :!CTO3 :super-space]
      [:##4 :!CTO4 :super-space]
      [:##5 :!CTO5 :super-space]
      [:##6 :!CTO6 :super-space]
      [:##7 :!CTO7 :super-space]
      [:##8 :!CTO8 :super-space]
      [:##9 :!CTO9 :super-space]
      [:##0 :!CTO0 :super-space]
      [:##hyphen :!CTOhyphen :super-space]
      [:##equal_sign :!CTOequal_sign :super-space]
      [:##semicolon :!CTOsemicolon :super-space]
      [:##backslash :!CTObackslash :super-space]
      ;; space+tab: possible here, impossible with tab-as-super (tab can't chord with itself)
      [:##tab :!CTOtab :super-space]
    ]}
    {:des "Change tab to super (ctrl+alt+cmd) if pressed with other keys and tab if pressed alone"
     :rules [
      ;; --- pass-throughs (do NOT turn these into Option) ---
      ;; Shift+Tab (either shift)
      [:!Stab :!Stab] [:!Rtab :!Rtab]
      ;; Cmd+Tab (either command)
      [:!Ctab :!Ctab] [:!Qtab :!Qtab]
      ;; Ctrl+Tab (either control)
      [:!Ttab :!Ttab] [:!Wtab :!Wtab]
      ;; Ctrl+Shift+Tab (all four ctrl/shift side combos)
      [:!TStab :!TStab] [:!TRtab :!TRtab] [:!WStab :!WStab] [:!WRtab :!WRtab]
      ;; Cmd+Shift+Tab (some apps use it)
      [:!CStab :!CStab] [:!CRtab :!CRtab] [:!QStab :!QStab] [:!QRtab :!QRtab]
      ;; shift is deliberately NOT part of the chord so it can act as the
      ;; "move" layer on top (tab+shift+key = full hyper)
      [:tab :!CTleft_option nil {:alone :tab}]
    ]}
    {:des "Change caps_lock to control if pressed with other keys and escape if pressed alone"
     :rules [
      [:##caps_lock :lazy-left-control nil {:alone :escape}]
    ]}
    ; {:des "Change escape to hyper if pressed with other keys and escape if pressed alone"
    ;  :rules [
    ;   [:escape :lazy-hyper nil {:alone :escape}]
    ; ]}
    {:des "Change right_shift + left_shift to caps_lock"
     :rules [
      [:!S#Pright_shift :caps_lock]
      [:!R#Pleft_shift :caps_lock]
    ]}
    ; {:des "Space layer"
    ;  :rules [
    ;   [:l :!Tspacebar :space-layer]
    ;   [:t "/opt/homebrew/bin/yabai -m space --layout bsp"  :space-layer]
    ;   [:s "/opt/homebrew/bin/yabai -m space --layout stack"  :space-layer]
    ;   [:f "/opt/homebrew/bin/yabai -m space --layout float"  :space-layer]
    ; ]}
]}
